.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0;
}

.login__question {
  font-size: 14px;
  line-height: 1.21;
  font-weight: 400;
}

.login__question-text {
  margin-right: 6px;
  color: #8b8b8b;
}

.login__question-link {
  text-decoration: none;
  color: #4285f4;
}

@media screen and (max-width: 480px)  {

  .login__question {
    font-size: 12px;
  }

}